.active-idol {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(0,0,0,.06);
  overflow: hidden;

  &__wrap {
    width: 50%;
    display: inline-block;
    font-size: 0;
    background-color: #F7F7F7;
    padding: 0 10px 20px 20px;
    box-sizing: border-box;

    &.is-odd {
      padding-left: 10px;
      padding-right: 20px;
    }

    &.is-first {
      padding-top: 20px;
    }
  }

  &__avatar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &__wrap {
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 100%;
      box-sizing: border-box;
    }
  }

  &__panel {
    padding: 20px;
  }

  &__title {
    font-size: 30px;
    display: block;
    font-weight: bold;
    @extend %oneline;
  }

  &__price {
    font-size: 28px;
    color: $color-red;
  }

  &__fans {
    font-size: 26px;
    color: $color-gray;
    float: right;
  }
}
