.chat-item {
  min-height: 60px + $container-padding * 2;
  padding: $container-padding;
  @extend %clearfix;

  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &.is-left {
    .avatar {
      float: left;
      margin-right: $container-padding;
    }

    .content {
      text-align: left;
    }

    .status {
      right: -40px;
    }
  }

  &.is-right {
    .avatar {
      float: right;
      margin-left: $container-padding;
    }

    .content {
      text-align: right;
    }

    .status {
      left: -40px;
    }
  }

  &.sex--1,
  &.sex-0 {
    .bubble {
      color: #212121;
      background-color: $color-background-container;
    }
  }

  &.sex-1 {
    .bubble {
      color: #fff;
      background-color: #12b7f5;
    }
  }

  &.sex-2 {
    .bubble {
      color: #fff;
      background-color: $color-red;
    }
  }

  .content {
    overflow: hidden;

    .bubble {
      position: relative;
      padding: 15px 26px;
      border-radius: 36px;
      max-width: 500px;
      display: inline-block;
      text-align: left;
      font-size: 28px;
      line-height: 44px;
      @extend %breakWord;

      .status {
        position: absolute;
        top: 22px;
      }
    }
  }
}
