.write-flat-btn {
  position: fixed;
  right: $container-padding;
  bottom: $container-padding;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  background-color: #FB7299;

  .right,
  .left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 5px;
    border-radius: 5px;
    width: 50%;
    background-color: #fff;
  }

  .left {
    transform: translate(-50%, -50%);
  }

  .right {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
