$item-size: 80px;

.code-input {
  position: relative;
  width: 100%;
  height: $item-size;

  input {
    opacity: 0;
    display: block;
    width: 530px;
    height: $item-size;
    line-height: $item-size;
    caret-color: $color-red;
    color: transparent;
    box-sizing: border-box;
    padding-left: $item-size / 2 - 2;
    margin: 0 auto;
  }

  .wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 530px;
    height: $item-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    transform: translateX(-50%);

    .item {
      width: $item-size;
      height: $item-size;
      border-radius: 10px;
      text-align: center;
      border: 2px solid #CCD6DD;
      line-height: $item-size - 2;
      margin-right: 10px;
      flex-shrink: 0;
      transition: border-color 200ms;

      &.is-active {
        border-color: $color-red;
      }
    }
  }
}
