.flow-loader {
  .state-image {
    display: block;
    margin: 50px auto 10px;

    &.loading {
      width: 173px;
      height: 184px;
    }

    &.nothing {
      width: 280px;
      height: 210px;
    }

    &.error {
      width: 280px;
      height: 240px;
    }
  }

  .tips {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    color: $color-text-light;
  }
}
