.blur-header {
  position: relative;
  overflow: hidden;

  &.collapsed {
    .wrap {
      opacity: 0;
    }

    .head {
      opacity: 1;
      visibility: visible;
    }

    .cover {
      @include filter-blur(80);
    }
  }

  &.blur {
    .cover {
      @include filter-blur(20);
    }
  }

  .cover {
    position: absolute;
    left: -12.5%;
    top: -12.5%;
    width: 125%;
    height: 125%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    z-index: -1;
    @include filter-blur(0);

    image {
      width: 100%;
      height: 100%;
    }
  }

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .wrap {
    opacity: 1;
    transition: opacity 400ms ease-out;
  }

  .head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    transition: opacity 400ms ease-out;

    .line {
      padding-left: 10px;
      padding-right: 20px;
    }

    .title {
      @extend %oneline;
    }
  }
}
