.idol-panel {
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }

  .price {
    height: 90px;
    padding: 30px;
    line-height: 30px;
    font-size: 34px;
    box-sizing: border-box;
    background: linear-gradient(45deg, $color-red, #9198e5);
    color: #fff;
    overflow: hidden;
  }

  .mine {
    height: 90px;
    padding: 10px 30px;
    background-color: rgba($color-red, 0.1);
    float: right;
    text-align: center;
    color: $color-red;
    font-size: 26px;
    font-weight: bold;
    line-height: 37px;
    box-sizing: border-box;
  }
}
