.bangumi-header {
  .content {
    position: relative;
    margin-bottom: 20px;

    .avatar {
      float: left;
      width: 180px;
      height: 240px;
      border: 4px solid #fff;
      border-radius: 8px;
      margin-right: 20px;
    }

    .body {
      color: #fff;
      overflow: hidden;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .rank {
        font-size: 22px;
        font-weight: 500;
        display: inline-block;
        padding: 10px 12px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
      }

      .score {
        position: absolute;
        right: 0;
        top: 0;

        margin-left: 10px;

        &__number {
          color: #FFA726;
          font-size: 40px;
          font-weight: bold;
        }

        &__fen {
          color: #FFA726;
          font-size: 24px;
          margin-left: 2px;
        }
      }

      .title {
        position: relative;
        display: block;
        width: 100%;
        font-size: 36px;
        font-weight: 500;
        @extend %oneline;
        margin-bottom: 6px;
      }

      .intro {
        position: relative;
        display: block;
        width: 100%;
        font-size: 24px;
        font-weight: 300;
        @include mutiline(36px, 1)
      }

      .join-btn-empty,
      .join-btn {
        display: block;
        width: 100%;
        height: 79px;
        line-height: 77px;
        font-size: 34px;
        margin-top: 16px;
        background-color: #fff;
        color: $color-text-normal;
        text-align: center;
        border-radius: 10px;
        font-weight: 500;
        border: 1px solid #fff;
      }

      .join-btn-empty {
        background-color: transparent;
        color: #fff;
      }
    }
  }

  .panel-wrap {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 0;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-left: -20px;
      border: 4px solid #fff;
      vertical-align: middle;

      &:first-child {
        margin-left: 0;
      }
    }

    .text {
      color: #fff;
      font-size: 26px;
      vertical-align: middle;
    }

    .avatar-tail {
      margin-left: 20px;
    }
  }

  .avatar-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
