.navbar {
  &__wrap,
  &__shim {
    box-sizing: content-box;
  }

  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 888;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__shim {
    background-color: transparent;
    height: 0;

    &.has-bg {
      position: relative;
      height: auto !important;
      overflow: hidden;
    }
  }

  &__core {
    width: 400px;
    height: 88px;
    padding-right: $container-padding;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &.has-bg {
      color: #fff;
    }

    .iconfont {
      height: 88px;
      width: 88px;
      line-height: 88px;
      text-align: center;
      font-size: 48px;
      font-weight: bold;
      flex-shrink: 0;
    }

    .line {
      padding-left: 5px;
      padding-right: 20px;
      flex-shrink: 0;
    }

    .title {
      flex: 1;
      @extend %oneline;
    }
  }

  &__body {
    padding: 0 $container-padding $container-padding;
    transition: opacity 400ms ease-out;
    opacity: 1;

    &.has-blur {
      opacity: 0;
    }
  }

  &__title {
    opacity: 0;
    transition: opacity 400ms ease-out;

    &.has-blur {
      opacity: 1;
    }
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
    }
  }

  &__bg {
    position: absolute;
    left: -12.5%;
    top: -12.5%;
    width: 125%;
    height: 125%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
    transition: 400ms ease-out;
    @include filter-blur(0);

    .image {
      position: relative;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }

    &.has-blur {
      @include filter-blur(80);
    }
  }
}
