.user-email-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: $container-padding * 2;
    margin-left: $container-padding * 2;
    flex-shrink: 0;
  }

  .content {
    flex: 1;
    padding: $container-padding * 2 $container-padding * 2 $container-padding * 2 0;
    border-top: 1px solid #CCD6DD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &.is-first {
      border-top: none;
    }

    .intro {
      flex: 1;
      overflow: hidden;
      height: 86px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .nickname {
        width: 100%;
        color: #14171A;
        font-size: 32px;
        font-weight: 500;
        @extend %oneline;
      }

      .desc {
        width: 100%;
        color: #657786;
        font-size: 24px;
        @extend %oneline;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: $container-padding;
      height: 86px;

      .time {
        color: #657786;
        font-size: 24px;
      }

      .count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        height: 34px;
        min-width: 34px;
        background-color: $color-red;
        color: #fff;
        padding: 0 10px;
        border-radius: 34px;
      }
    }
  }
}
