.search {
  .input-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .input-box {
      flex: 1;
      background-color: #F4F4F4;
      color: #999999;
      font-size: 28px;
      height: 100%;
      border-radius: 32px;
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .input-core {
      display: block;
      flex: 1;
      padding: 0 16px;
      margin: 0;
      border-width: 0;
      background-color: transparent;
      font-size: 28px;
      line-height: 28px;
      caret-color: $color-red;
    }

    .cancel {
      font-size: 16PX;
      margin-left: 15px;
      color: #212121;
      white-space: nowrap;
    }
  }

  .history-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
  }

  .panel-hidden {
    visibility: hidden;
  }
}
