.user-panel {
  background-color: $color-red;

  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $container-padding $container-padding * 2;
    @extend %clearfix;

    .avatar {
      float: left;
      margin-right: $container-padding;

      .avatar-src {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid #fff;
      }
    }

    .text {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .nickname-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .nickname {
          font-size: 46px;
          color: #fff;
          font-weight: 500;
          margin-right: 12px;
          @extend %oneline;
        }

        .level {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          background-color: $color-yellow;
          color: #fff;
          font-size: 22px;
          height: 36px;
          padding: 0 16px;
          border-radius: 18px;
        }
      }

      .invite {
        font-size: 26px;
        color: #fff;
      }
    }

    .arrow {
      color: #fff;
      margin-left: 20px;
      float: right;

      .iconfont {
        font-size: 44px;
        font-weight: bold;
      }
    }
  }

  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: $container-padding;

    .metas {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .meta {
        width: 170px;
      }

      .count {
        color: $color-text-normal;
        font-size: 36px;
        font-weight: 500;
      }

      .name {
        color: $color-text-light;
        font-size: 26px;
      }
    }

    .sign-btn {
      background-color: $color-red;
      padding: 0 $container-padding;
      border: 2px solid $color-red;
      border-radius: 72px;
      line-height: 68px;
      height: 72px;
      font-size: 28px;
      color: #fff;
      margin: 0;

      &.is-plant {
        background-color: transparent;
        color: $color-red;
      }
    }
  }
}
