.bangumi-show {
  .intro {
    margin-bottom: 30px;

    &__title {
      display: block;
      font-size: 34px;
      margin: 30px;
    }

    &__text {
      display: block;
      font-size: 28px;
      line-height: 35px;
      margin: 0 30px;
      color: $color-gray;
    }
  }

  .social-panel {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .pink-icon {
      margin-left: 30px;
    }
  }

  .pink-icon {
    box-shadow: 0 4px 4px rgba(255,112,159,.3);
    background-color: $color-red;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
  }
}
