.bangumi-panel {
  .background {
    position: relative;
    overflow: hidden;
    height: 420px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

    .blur-bg {
      position: absolute;
      left: -10%;
      top: -10%;
      width: 120%;
      height: 120%;
      z-index: 0;
      @include filter-blur(20)
    }

    .shim {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,47,47,0) 100%);
      opacity: 0.3;
      z-index: 1;
    }

    .background-content {
      position: relative;
      height: 100%;
      z-index: 2;

      .avatar {
        position: absolute;
        left: 30px;
        top: 140px;
        width: 180px;
        height: 240px;
        border: 4px solid #fff;
        border-radius: 8px;
      }
    }
  }

  &__price {
    height: 90px;
    padding: 30px;
    line-height: 30px;
    font-size: 34px;
    box-sizing: border-box;
    background: linear-gradient(45deg, $color-red, #9198e5);
    color: #fff;
    overflow: hidden;
  }

  &__mine {
    height: 90px;
    padding: 10px 30px;
    background-color: rgba($color-red, 0.1);
    float: right;
    text-align: center;
    color: $color-red;
    font-size: 26px;
    font-weight: bold;
    line-height: 37px;
    box-sizing: border-box;
  }
}
