/* Custom Theme */
@import "./style/iconfont.css";

button {
  padding: 0;
  font-size: 32px;
  background-color: transparent;

  &:after {
    content: none;
  }
}

view,
image,
button {
  box-sizing: border-box;
}

button,
image,
text {
  vertical-align: middle;
}

.scroll-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-shrink-0 {
  width: 100%;
  flex-shrink: 0;
}

.flex-grow-1 {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.scroll-view {
  width: 100%;
  height: 100%;
}
