/* Custom Theme */
$color-brand: #fb7299;
$color-brand-light: #fc95b3;
$color-brand-dark: #c95b7a;

@import "~taro-ui/dist/style/index.scss";

.at-nav-bar {
  background-color: transparent;

  &__left-view {
    .at-icon {
      font-size: 65px;
    }

    &:active {
      background-color: transparent;
    }
  }

  &__left-view {
    flex-grow: 4;
  }

  &__title {
    display: none;
  }
}

.at-load-more .at-button {
  border-width: 0;
}

.at-input-number {
  &__btn {
    padding: 25px;
  }
}

.at-tabs {
  &__header {
    justify-content: center;
  }

  &__item {
    padding: 20px 16px;
    font-size: 28px;
    flex: none;
    color: #505050;

    &--active {
      color: #FB7299;
    }

    &-underline {
      width: calc(100% - 32px);
      left: 16px;
      height: 4px;
      bottom: 2px;
      border-radius: 4px;
    }
  }
}

.scroll-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .flex-shrink-0 {
    width: 100%;
    flex-shrink: 0;
  }

  .flex-grow-1 {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  .scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .scroll-view {
    width: 100%;
    height: 100%;
  }
}
