/* Custom Theme */
$color-brand: #fb7299;
$color-brand-light: #fc95b3;
$color-brand-dark: #c95b7a;

@import "~taro-ui/dist/style/index.scss";

.at-nav-bar {
  background-color: transparent;

  &__left-view {
    .at-icon {
      font-size: 65px;
    }

    &:active {
      background-color: transparent;
    }
  }

  &__left-view {
    flex-grow: 4;
  }

  &__title {
    display: none;
  }
}

.at-load-more .at-button {
  border-width: 0;
}

.at-input-number {
  &__btn {
    padding: 25px;
  }
}
