.index-header {
  background-color: $color-red;

  .shim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color-red;
  }

  .avatar {
    float: left;

    image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #c95b7a;
    color: #fc95b3;
    font-size: 28px;
    padding-left: 30px;
    overflow: hidden;

    .text {
      margin-left: 10px;
    }
  }
}
