.page-preload {
  height: 100vh;

  image {
    margin-bottom: 30px;
  }
}

.page-nothing {
  color: $color-text-light;
}

.page-nothing,
.page-preload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;

  image {
    width: 400px;
    height: 400px;
  }
}
